$orange: #ffa500;
$green: #008000;
$blue: #0000ff;
$white: #ffffff;
$black: #212121;
$light-gray: #616161;

$prefix: "india";

$theme-colors: (
  "orange": $orange,
  "blue": $blue,
  "green": $green,
);

@each $color, $value in $theme-colors {
  .#{$prefix}-h-#{$color} {
    background: repeating-linear-gradient(
      to bottom,
      #{$value} 0px 8px,
      #{$white} 8px 16px
    );
  }
}
