$orange: #ffa500;
$green: #008000;
$blue: #0000ff;
$white: #ffffff;
$black: #212121;
$light-gray: #616161;

$theme-colors: (
  "primary": $orange,
  "secondary": $blue,
  "tertiary": $green,
);

$normal: 8;
$dense: 4;

@each $color, $value in $theme-colors {
  .stripe-h-#{$color} {
    background: repeating-linear-gradient(
      to bottom,
      #{$value} 0px #{$normal}px,
      #{$white} #{$normal}px #{$normal + $normal}px
    );
  }

  .stripe-h-#{$color}-d {
    background: repeating-linear-gradient(
      to bottom,
      #{$value} 0px #{$dense}px,
      #{$white} #{$dense}px #{$dense + $dense}px
    );
  }

  .stripe-h-#{$color} {
    background: repeating-linear-gradient(
      to right,
      #{$value} 0px #{$normal}px,
      #{$white} #{$normal}px #{$normal + $normal}px
    );
  }

  .stripe-v-#{$color}-d {
    background: repeating-linear-gradient(
      to right,
      #{$value} 0px #{$normal}px,
      #{$white} #{$normal}px #{$normal + $dense}px
    );
  }
}
