:root {
  --blue: #29b6f6;
  --gray: #424242;
  --amber: #ffb300;
  --white: #ffffff;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(41, 182, 246, 0.9), rgba(0, 0, 0, 0.9)),
    url("../properties/city-center/img/intro.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: var(--amber);
  border: 2px solid var(--amber);
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav,
.portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: var(--amber) !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

.owl-carousel .owl-stage-outer {
  height: 70vh;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }

  .owl-carousel .owl-stage-outer {
    height: 30vh;
  }
}

/*--------------------------------------------------------------
# Amenities
--------------------------------------------------------------*/
.amenities .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.amenities .content ul {
  list-style: none;
  padding: 0;
}

.amenities .content ul li {
  padding-left: 28px;
  position: relative;
}

.amenities .content ul li + li {
  margin-top: 10px;
}

.amenities .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #47b2e4;
  line-height: 1;
}

.amenities .content p:last-child {
  margin-bottom: 0;
}

.amenities .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #47b2e4;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #47b2e4;
}

.amenities .content .btn-learn-more:hover {
  background: #47b2e4;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Specifications
--------------------------------------------------------------*/
.specifications .content {
  padding: 60px 100px 0 100px;
}

.specifications .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #37517e;
}

.specifications .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.specifications .content p {
  font-size: 15px;
  color: #848484;
}

.specifications .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.specifications .accordion-list {
  padding: 0 100px 60px 100px;
}

.specifications .accordion-list ul {
  padding: 0;
  list-style: none;
}

.specifications .accordion-list li + li {
  margin-top: 15px;
}

.specifications .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.specifications .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
}

.specifications .accordion-list span {
  color: #47b2e4;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.specifications .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.specifications .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.specifications .accordion-list .icon-show {
  display: none;
}

.specifications .accordion-list a.collapsed {
  color: #343a40;
}

.specifications .accordion-list a.collapsed:hover {
  color: #47b2e4;
}

.specifications .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.specifications .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1024px) {
  .specifications .content,
  .specifications .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .specifications .img {
    min-height: 400px;
  }
  .specifications .content {
    padding-top: 30px;
  }
  .specifications .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .specifications .img {
    min-height: 200px;
  }
}
