.stripe {
  background: repeating-linear-gradient(
    to bottom,
    orange,
    orange 8px,
    white 8px,
    white 16px
  );
}

.stripe-d {
  background: repeating-linear-gradient(
    to bottom,
    orange,
    orange 4px,
    white 4px,
    white 8px
  );
}

.stripe-v {
  background: repeating-linear-gradient(
    to right,
    orange,
    orange 8px,
    white 8px,
    white 16px
  );
}

.stripe-v-d {
  background: repeating-linear-gradient(
    to right,
    orange,
    orange 4px,
    white 4px,
    white 8px
  );
  background-position: 50% 50%;
}

.polka-d {
  background: radial-gradient(
    circle at center,
    white,
    white 20%,
    green,
    green 30%,
    white,
    white 40%,
    blue,
    blue 45%,
    white,
    white 50%,
    orange,
    orange 60%,
    transparent 60%
  );
  background-position: 50% 50%;
  background-size: 30px 30px;
}

.polka {
  background: radial-gradient(
    circle at center,
    white,
    white 20%,
    green,
    green 30%,
    white,
    white 40%,
    blue,
    blue 45%,
    white,
    white 50%,
    orange,
    orange 60%,
    transparent 60%
  );
  background-position: 50% 50%;
  background-size: 50px 50px;
}
